.h2 {
    
        position: absolute;
        cursor: move;
        color: rgb(211, 34, 34);
        max-width: 215px;
        border-radius: 5px;
        padding: 1em;
        margin: auto;
        user-select: none;
      }
       .ext {
        position: absolute;
        cursor: move;
        color: black;
        max-width: 215px;
        border-radius: 5px;
        padding: 1em;
        margin: auto;
        user-select: none;
      }
      
      
